<div class="flex dark:bg-black">
  <aside
    class="w-64 bg-white dark:bg-gray-900 min-h-screen p-4 border-r dark:border-gray-700 mt-20"
  >
    <div class="flex items-center space-x-2 mb-6">
      <img src="logo.png" alt="AI Sales" class="h-10" />
    </div>
    <nav class="space-y-4">
      <a
        routerLink="/account/ai-agent"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500 cursor-pointer"
      >
        <i class="fa-solid fa-robot"></i>
        <span>AI Agent</span>
      </a>
      <a
      routerLink="/account/kpi"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-chart-line"></i>
        <span>KPI</span>
      </a>
      <a
      routerLink="/account/projects"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-folder"></i>
        <span>Projects</span>
      </a>
      <a
      routerLink="/account/leads"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-phone"></i>
        <span>Leads</span>
      </a>
      <a
      routerLink="/account/user"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-handshake"></i>
        <span>User</span>
      </a>
      <a
      routerLink="/account/billing"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-handshake"></i>
        <span>Billing</span>
      </a>
      <a
      routerLink="/account/wallet"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-handshake"></i>
        <span>Wallet</span>
      </a>
      <a
      routerLink="/account/invoice"
        class="flex items-center space-x-3 text-gray-700 dark:text-gray-300 hover:text-blue-500"
      >
        <i class="fa-solid fa-handshake"></i>
        <span>Invoice</span>
      </a>
    </nav>
  </aside>
  <main class="flex-1 p-6">
    <router-outlet></router-outlet>
  </main>
</div>
