<section class="px-[4%] mx-auto py-6">
  <div class="mt-12 text-center">
    <h2 class="text-gray-700 dark:text-gray-400 text-xl md:text-2xl xl:text-4xl mb-20 font-bold">
      Trusted by Fortune 500 leaders and small factories worldwide.
    </h2>

    <!-- First row of logos -->
    <div class="logo-wrapper bg-white dark:bg-gray-700 mt-8 relative w-full h-[100px] overflow-hidden mask-image[linear-gradient(to_right, transparent, black_15%, black_85%, transparent)]">
      <ng-container *ngFor="let img of row1; let i = index">
        <div
          class="logo-item animate-scrollLeft"
          [style.left]="getOffset(i, row1.length)"
          [style.animationDelay]="getDelay(i, row1.length)"
          [style.backgroundImage]="'url(' + img + ')'">
        </div>
      </ng-container>
    </div>

    <!-- Second row of logos -->
    <div class="logo-wrapper bg-white dark:bg-gray-700  mt-8 relative w-full h-[100px] overflow-hidden mask-image[linear-gradient(to_right, transparent, black_15%, black_85%, transparent)]">
      <ng-container *ngFor="let img of row2; let i = index">
        <div
          class="logo-item animate-scrollRight"
          [style.right]="getOffset(i, row2.length)"
          [style.animationDelay]="getDelay(i, row2.length)"
          [style.backgroundImage]="'url(' + img + ')'">
        </div>
      </ng-container>
    </div>
  </div>
</section>
