<footer class="py-16 md:py-32 dark:bg-black">
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
            <div
                class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start">
                <ul class="list-inside list-disc space-y-8">
                    <li *ngFor="let item of menuItems">
                        <a routerLink="item.link" class="transition hover:text-primary">{{ item.label }}</a>
                    </li>
                </ul>
                <ul role="list" class="space-y-8">
                    <li *ngFor="let item of socialItems">
                        <a routerLink="item.link" class="flex items-center space-x-3 transition hover:text-primary">
                            <i class="fa-brands fa-lg {{item.icon}}"></i>
                            <span>{{ item.label }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left">
                <span class="block text-gray-500 dark:text-gray-400">We change the way UI components librairies are
                    used</span>
                <span class="block text-gray-500 dark:text-gray-400">Tailus Blocks &copy; <span id="year"></span></span>
                <span class="flex justify-between text-gray-600 dark:text-white">
                    <a *ngFor="let item of termsAndPrivacy" routerLink="item.link" class="font-medium">{{ item.label
                        }}</a>
                </span>
                <span class="block text-gray-500 dark:text-gray-400">Need help?
                    <a routerLink="" class="font-semibold text-gray-600 dark:text-white"> Contact Us</a>
                </span>
            </div>
        </div>
    </div>
</footer>