<div class="dark:bg-black grid place-items-center py-8 min-h-screen">
  <div class="w-full max-w-2xl p-10 mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <h2 class="text-3xl font-semibold text-gray-900 dark:text-white mb-4">Params Info</h2>
    <ul class="list-none">
      <li *ngFor="let param of paramKeys" class="mb-2 text-xl text-gray-700 dark:text-gray-300">
        <strong class="font-medium text-gray-900 dark:text-white">{{ param }}</strong>: {{ params[param] }}
      </li>
    </ul>
  </div>
</div>
