<section class="flex flex-col min-h-screen dark:bg-[#212121]">
  <!-- Fixed Header -->
  <header class="fixed top-0 inset-x-0 z-30 flex items-center justify-between px-4 sm:px-16 h-16 dark:bg-[#212121]">
    <a routerLink="/">
      <img src="logo-light.png" alt="logo-light" class="w-32 sm:w-40 block dark:hidden">
      <img src="logo-dark.png" alt="logo-dark" class="w-32 sm:w-40 hidden dark:block">
    </a>
    <div class="flex items-center gap-4">
      <div (click)="toggleTheme()" class="cursor-pointer">
        <a class="block px-4 transition text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary">
          <i [ngClass]="isDarkMode ? 'fa-solid fa-lg fa-moon' : 'fa-solid fa-lg fa-sun'"></i>
        </a>
      </div>
      <a *ngIf="showProspects" class="px-3 py-2 text-sm bg-primary text-white font-medium rounded-3xl"
  [routerLink]="['/prospects']"
  [queryParams]="{ company_id: companyId }"
  target="_blank">
  Prospects
</a>
    </div>
  </header>
  <!-- Scrollable Content Area -->
  <main class="flex-1 mt-16 mb-28 overflow-y-auto relative">
    <div class="absolute inset-0">
      <div class="h-full overflow-y-auto custom-scrollbar" #chatWindow>
        <div class="grid place-items-center w-full min-h-full">
          <div id="chatWindow" class="w-full sm:w-4/5 md:w-2/3 lg:w-1/2 text-sm leading-6 px-4 py-2">
            <ng-container *ngFor="let prompt of conversation">
              <p *ngIf="prompt.role === 'user'"
                class="w-fit min-w-min max-w-full sm:max-w-lg ml-auto my-4 bg-[#f3f3f3] dark:bg-[#303030] text-gray-800 dark:text-gray-100 p-4 rounded-3xl">
                {{ prompt.content }}
              </p>
              <p *ngIf="prompt.role === 'assistant' && prompt.content"
                class="my-4 max-w-full sm:max-w-lg bg-gray-100 dark:bg-[#606060] text-gray-800 dark:text-gray-100 p-4 rounded-3xl">
                {{ prompt.content }}
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Fixed Footer -->
  <footer class="fixed bottom-0 inset-x-0 z-30 dark:bg-[#212121]">
    <div class="w-full sm:w-4/5 md:w-2/3 lg:w-1/2 mx-auto px-4 pb-4 -mt-3 ">
      <div class="bg-white dark:bg-[#303030] rounded-3xl border border-slate-300 dark:border-none shadow-sm p-5">
        <textarea #textarea
          class="w-full bg-transparent resize-none border-none focus:outline-none text-gray-800 dark:text-white placeholder-gray-500 dark:placeholder-gray-400"
          rows="2" placeholder="Write something here..."
          (input)="onTextareaInput(textarea); adjustTextareaHeight(textarea)"
          (keydown.enter)="onSubmitAnswer($event, textarea)"></textarea>

        <div class="flex justify-end mt-3">
          <i *ngIf="!loading" [ngClass]="{ 'text-gray-800/40 dark:text-gray-100/40': isTextareaEmpty }"
            [class.pointer-events-none]="isTextareaEmpty"
            class="fa-solid fa-xl fa-circle-arrow-up text-gray-800 dark:text-gray-100 cursor-pointer transition-opacity hover:opacity-80"
            (click)="onSubmitAnswer($event, textarea)">
          </i>
          <i *ngIf="loading" class="fa-solid fa-circle-notch fa-spin text-xl text-gray-800 dark:text-white"></i>
        </div>
      </div>
    </div>
  </footer>
</section>