<section class="mx-auto max-w-screen text-center dark:bg-black text-gray-600 dark:text-gray-300">
    <h1 class="mb-4 text-7xl font-extrabold lg:text-9xl">404</h1>
    <p class="mb-4 text-3xl font-bold md:text-4xl">Something's
        missing.</p>
    <p class="mb-4 text-lg">Sorry, we can't find that page. You'll find lots to explore on the
        home page. </p>
    <button class="bg-primary hover:scale-105 text-white px-5 py-3 font-medium rounded-lg transition-all duration-500 ease-in-out" routerLink="/">Go to
        home page</button>
</section>
